@import "tailwindcss";

body {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.MuiBadge-badge {
  background: #ff5252 !important;
}

.ReactCollapse--collapse {
  transition: height 200ms;
}

.btn-blue {
  background-color: #3872fa !important;
  color: #fff !important;
  transition: all;
  padding: 8px 18px !important;
}

.btn-blue:hover {
  background-color: #1d56dc !important;
}

.btn-green {
  background-color: rgb(20, 156, 20) !important;
  color: #fff !important;
  transition: all;
  padding: 8px 18px !important;
}

.btn-green:hover {
  background-color: rgb(12, 126, 12) !important;
}

.MuiAppBar-colorPrimary {
  background: #ccc !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}