.link:hover {
  color: #ff5252;
  transition: all 0.2s ease-in-out;
}

 .nav li .submenu {
  visibility: hidden;
  z-index: 1000;
}
.nav li .submenu Button {
  font-weight: 400 !important;
}
.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
  top: 100%;
}
.nav li .submenu li:hover Button {
  color: #ff5252 !important;
}

.nav li .submenu li .submenu {
  top: 0px !important;
  left: 120% !important;
  opacity: 0 !important;
}
.nav li .submenu li:hover .submenu {
  left: 100% !important;
  opacity: 1 !important;
}

.nav li .submenu li .submenu Button {
  color: rgba(0, 0, 0, 0.8) !important;
}

.nav li .submenu li .submenu Button:hover {
  color: #ff5252 !important;
}  
